{% extends "Linkfeed/layouts.html" %}

{% block name %}
    {{ profile.display_name }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h2>Feed</h2>
        <p class="underline small"><a href="{% url 'feed_rss' profile.user.username %}">View as RSS</a></p>
    </div>

    {% for post in posts %}
        <div class="post">
            {% include 'Linkfeed/posts.html' %}
        </div>
    {% endfor %}

    {% if not posts %}
        <p>No posts yet.</p>
    {% endif %}
{% endblock %}