{% extends "Linkfeed/layouts.html" %}
{% load static %}

{% block nav %}
<a href="{% url 'profile' %}" class="">Profile</a>
{% if profile.user.username == user.username %}
<a href="{% url 'refresh_imported_rss_feed' %}">Refresh RSS Feed</a>
<a id="import-rss-feed-btn" onclick="toggleImportRSSFeedPopup()" class="">Import RSS Feed</a>
<a id="showImportedFeedsBtn" class="" onclick="showImportedFeeds()">Show Imported Feeds</a>
{% endif %}
{% endblock %}

{% block styles %}

<style>


    .like-svg:hover, .comment-svg:hover, .delete-btn:hover, .share-svg:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

</style>

{% endblock styles %}

{% block body %}
<div class="posts mt-5">
    <div class="">
        {% for post in posts %}
        {% if post.is_imported_rss_feed_post or post.user != user %}
            {% include 'Linkfeed/posts.html' %}
        {% endif %}
        {% endfor %}
    </div>
</div>


<!-- Popup for importing RSS feed -->
<div id="importRSSFeedPopup" class="modal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Import RSS Feed</h5>
                <button type="button" class="close" onclick="toggleImportRSSFeedPopup()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="importRSSFeedForm" method="post" action="{% url 'imported_rss_feed' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="rssFeedLink">RSS Feed Link:</label>
                        <input type="url" class="form-control" id="rssFeedLink" name="link" placeholder="Enter RSS Feed link">
                    </div>
                    <button type="submit" class="normal-font-button btn red-button">Import</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="importedFeedsPopup" class="modal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Imported Feeds</h5>
                <button type="button" class="close" onclick="showImportedFeeds()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if imported_feeds %}
                    <ul>
                        {% for feed in imported_feeds %}
                            <li class="d-flex justify-content-between align-items-center">
                                <a href="{{ feed.link }}" target="_blank">{{ feed.link }}</a>
                                <form action="{% url 'delete_imported_feed' feed.id %}" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this feed?');">
                                    {% csrf_token %}
                                    <button type="submit" class="normal-font-button btn red-button">Delete</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No imported feeds available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    function toggleImportRSSFeedPopup() {
        var popup = document.getElementById("importRSSFeedPopup");
        popup.style.display = popup.style.display === "none" ? "block" : "none";
    }

    // Function to handle showing imported feeds popup
    function showImportedFeeds() {
        var popup = document.getElementById("importedFeedsPopup");
        popup.style.display = popup.style.display === "none" ? "block" : "none";
    }
    function likePost(postId) {
        // Submit the form with corresponding post id
        document.getElementById('likeForm' + postId).submit();
    }

    function deletePost(postId) {
        // Display confirmation pop-up
        var confirmDelete = confirm('Are you sure you want to delete this post?');
        
        // If user confirms deletion, submit the form
        if (confirmDelete) {
            document.getElementById('deleteForm' + postId).submit();
        }
    }

    // Add event listeners to delete buttons
    var deleteButtons = document.querySelectorAll('.delete-btn');
    deleteButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var postId = this.getAttribute('data-post-id');
            deletePost(postId);
        });
    });

    function rePostPost(postId) {
        // Submit the form with corresponding post id
        document.getElementById('shareForm' + postId).submit();
    }
</script>

{% endblock body %}
