{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'Linkfeed/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'Linkfeed/style.css' %}" rel="stylesheet">
    <title>Social</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <h1 class="my-0 ellipsis">
        <a href="{% url 'current_user_profile' %}">
        {% block name %}
        {% endblock %}
        </a>
    </h1>
    <nav>
        {% block nav %}
        {% endblock %}
        {% if user.is_authenticated %}
            <a href="{% url 'profile' profile.user.username %}" {% if request.resolver_match.url_name == 'profile' or request.resolver_match.url_name == 'current_user_profile'  %}class="active"{% endif %}>Profile</a> |
            <a href="{% url 'feed' profile.user.username %}" {% if request.resolver_match.url_name == 'feed' %}class="active"{% endif %}>Feed</a> | 
            <a href="{% url 'rss' %}" {% if request.resolver_match.url_name == 'rss' %}class="active"{% endif %}>RSS</a> |
            <a href="{% url 'edit_profile' %}" {% if request.resolver_match.url_name == 'edit_profile' %}class="active"{% endif %}>Edit</a> |
            <a href="{% url 'search' %}" {% if request.resolver_match.url_name == 'search' %}class="active"{% endif %}>Search</a> |
            <a href="{% url 'notifications' profile.user.username %}">Comments</a>
        {% endif %}
    </nav>
    {% block body %}    
    {% endblock %}
    {% csrf_token %}
</body>
<script>
    function likePost(postId) {
        var csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
        fetch(`/Linkfeed/like/${postId}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => response.json())
        .then(data => {
            const likeSpan = document.querySelector(`#like-${postId}`);
            if (data.total_likes == 0) {
                likeSpan.textContent = 'like';
            }
            else {
                likeSpan.textContent = `like (${data.total_likes})`;
            }
            console.log(data);
        });
    }
</script>
</html>