{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'Linkfeed/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'Linkfeed/style.css' %}" rel="stylesheet">
    <title>Social</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <h1 class="mb-0">
        {% block name %}
        {% endblock %}
    </h1>
    <nav class="d-flex justify-content-between">
        {% block nav %}
        {% endblock %}
        {% if user.is_authenticated %}
            <a href="{% url 'profile' profile.user.username %}">Profile</a> |
            <a href="{% url 'feed' profile.user.username %}">Feed</a> |
            <a href="#">RSS</a> |
            <a href="{% url 'current_user_profile' %}">Home</a> |
            {% if profile.user.username == user.username %}
                <a href="#" onclick="toggleEditProfilePopup()">Edit</a>
            {% elif not following %}
                <a href="{% url 'follow_or_unfollow' profile.user.username %}">Follow</a>
            {% elif following %}
                <a href="{% url 'follow_or_unfollow' profile.user.username %}" id="following-text">Unfollow</a>
            {% endif %}
        {% endif %}
    </nav>
    {% block body %}
    {% endblock %}
    {% csrf_token %}
</body>
<script>
    function likePost(postId) {
        var csrfToken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
        fetch(`/Linkfeed/like/${postId}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            }
        })
        .then(response => response.json())
        .then(data => {
            const likeSpan = document.querySelector(`#like-${postId}`);
            if (data.total_likes == 0) {
                likeSpan.textContent = 'like';
            }
            else {
                likeSpan.textContent = `like (${data.total_likes})`;
            }
            console.log(data);
        });
    }
</script>
</html>