<div class="mb-4">
    <p class="small grey mb-0">
        <a href="{% url 'profile' comment.user.username %}" target="_blank">
            {{ comment.user.profile.display_name }}
        </a> • 
        {{ comment.timestamp|date:"b j, Y"|capfirst }}
    </p>
    <p class="small grey mb-0 mt-1">{{ comment.post.title }}</p>
    <p class="mb-0 mt-1 preserve">{{ comment.body }}</p>
    <p class="small mt-1 underline">
        <a href="#" onclick="unhideForm({{ comment.id }})">reply</a>
    </p>

    <form id="{{comment.id}}" method="post" action="{% url 'reply_comment' comment.id %}" hidden>
        {% csrf_token %}
            <textarea name="body" rows="4" placeholder="Add a reply..."required></textarea>
            <button type="submit">
                Post
            </button>
    </form>

    <script>
        function unhideForm(comment_id) {
            document.getElementById(comment_id).hidden = false;
        }
    </script>
</div>