{% extends "Linkfeed/layouts.html" %}
{% load static %}

{% block styles %}
    <style>
        .fixed-bottom {
            display: flex;
            justify-content: flex-end;
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 9999;
        }

        .fixed-bottom .btn {
            margin-left: 10px;
        }

        .like-svg:hover, .comment-svg:hover, .delete-btn:hover, .share-svg:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
        
    </style>
{% endblock %}

{% block nav %}
<a href="{% url 'profile' %}" class="">Profile</a>
<a href="{% url 'current_user_feed' %}" class="">Feed</a>
<a href="{% url 'feed' profile.user.username %}" class=""> {{profile.user.username}}'s Feed</a>
<a href="{% url 'following' profile.user.username %}">{{profile.user.username}}'s Following</a>
<a href="{% url 'followers' profile.user.username %}">{{profile.user.username}}'s Followers</a>
{% endblock %}

{% block body %}

<a href="{{domain.domain}}">{{domain.domain}}</a>
<div class="row my-4 d-flex justify-content-center align-items-center">
    <div class="col text-center aliing-items-center mx-5">
        <a id="followers-link" style="cursor: pointer;">Followers: {{ profile.follower.count }}</a>
    </div>
    <div class="col text-center mx-5">
        <a id="following-link" style="cursor: pointer;">Following: {{ profile.following.count }}</a>
    </div>
    <div class="col text-center mx-5 p-0">
        {% if profile.user.username == user.username %}
        <a href="#" class="follow-button">Edit Profile</a>
        {% elif request.user in profile.follower.all %}
        <a href="{% url 'follow_or_unfollow' profile.user.username %}" id="following-text" class="follow-button">Following</a>
        {% else %}
        <a href="{% url 'follow_or_unfollow' profile.user.username %}"  class="follow-button">Follow</a>
        <script>
            document.getElementById('following-text').addEventListener('mouseover', function() {
            this.innerHTML = 'Unfollow';
            });
            document.getElementById('following-text').addEventListener('mouseout', function() {
            this.innerHTML = 'Following';
            });
        </script>
        {% endif %}
    </div>
</div>

{% if profile.user.username == user.username %}
<div class="create-post p-3">
    <form class="m-auto pt-3" id="create-post-form" method="post" action="{% url 'create_post' %}">
        {% csrf_token %}
        <div class="post-title form-group">
            <input type="text" id="title-input" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="row">
            <div class="col-9">
                <div class="post-body form-group">
                    <input type="url" id="body-input" class="form-control" name="body" placeholder="URL">
                </div>
            </div>
            <div class="col-3">
                <button type="submit" class="btn red-button" id="create-post-button">Post</button>
            </div>
        </div>
    </form>
</div>
{% endif %}

<div id="posts" class="mt-5">
    <div class="">
        {% for post in posts %}
        <div class="post">
            <a href="{{ post.body }}" target="_blank" class="wrapped-post-link">
                <div class="wrapped-post py-3">
                    <div class="">
                        <h4 class="post-title">{{ post.title }}</h4>
                        <p class="post-body">{{ post.body }}</p>
                    </div>
                </div>
            </a>
            <div class="row">
                <div class="col text-muted">
                    {{ post.timestamp }}
                </div>
                <div class="col post-actions d-flex justify-content-end align-items-end">

                    <form id="shareForm{{ post.id }}" action="{% url 'repost' post.pk %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <!-- Hidden input field to hold the post id -->
                    </form>
                    <img src="{% static 'Linkfeed/reshare.svg' %}" alt="repost" class="share-svg" width="32" height="32" fill="black" viewBox="0 0 32 32" onclick="rePostPost('{{ post.id }}')">
                    <span>{{post.repost_count}}</span>
                                        <!-- Form for like/unlike -->
                    <form id="likeForm{{ post.id }}" action="{% url 'like_post' post.pk %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <!-- Hidden input field to hold the post id -->
                    </form>
                    {% if post.liked %}
                    <img src="{% static 'Linkfeed/liked.svg' %}" alt="Like" class="like-svg" width="32" height="32" fill="black"
                    class="bi bi-heart" viewBox="0 0 32 32" onclick="likePost('{{ post.id }}')">
                     {% else %}
                     <img src="{% static 'Linkfeed/like.svg' %}" alt="Like" class="like-svg" width="32" height="32" fill="black"
                    class="bi bi-heart" viewBox="0 0 32 32" onclick="likePost('{{ post.id }}')">
                    {% endif%}
                    <span id="likeCount{{ post.id }}">{{ post.total_likes }}</span>
                    
            
                    <a href="{% url 'post' post.id %}" class="px-2">
                        <img src="{% static 'Linkfeed/comment.svg' %}" alt="Comment" class="comment-svg" width="26" height="26"
                            fill="black" class="bi bi-chat" viewBox="0 0 32 32">
                        <span>{{post.total_comments}}</span>
                    </a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<div id="createPostPopup" class="modal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Post</h5>
                <button type="button" class="close" onclick="toggleCreatePostPopup()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createPostForm" method="post" action="{% url 'create_post' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label for="body">URL:</label>
                        <input type="url" class="form-control" name="body">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="mirrorRSSFeedPopup" class="modal" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mirror RSS Feed</h5>
                <button type="button" class="close" onclick="toggleMirrorRSSFeedPopup()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="mirrorRSSFeedForm" method="post" action="{% url 'mirror_rss_feed' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="rssFeedLink">RSS Feed Link:</label>
                        <input type="url" class="form-control" id="rssFeedLink" name="link" placeholder="Enter RSS Feed link">
                    </div>
                    <button type="submit" class="btn btn-primary">Mirror</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleCreatePostPopup() {
        var popup = document.getElementById("createPostPopup");
        popup.style.display = popup.style.display === "none" ? "block" : "none";
    }

    function toggleMirrorRSSFeedPopup() {
        var popup = document.getElementById("mirrorRSSFeedPopup");
        popup.style.display = popup.style.display === "none" ? "block" : "none";
    }

    var followersLink = document.getElementById('followers-link');
    followersLink.addEventListener('mouseover', function() {
        this.style.textDecoration = 'underline';
    });

    followersLink.addEventListener('mouseout', function() {
        this.style.textDecoration = 'none';
    });

    followersLink.addEventListener('click', function() {
        window.location.href = "{% url 'followers' profile.user.username %}";
    });

    var followingLink = document.getElementById('following-link');
    followingLink.addEventListener('mouseover', function() {
        this.style.textDecoration = 'underline';
    });

    followingLink.addEventListener('mouseout', function() {
        this.style.textDecoration = 'none';
    });

    followingLink.addEventListener('click', function() {
        window.location.href = "{% url 'following' profile.user.username %}";
    });

    function likePost(postId) {
        // Submit the form with corresponding post id
        document.getElementById('likeForm' + postId).submit();
    }
    function rePostPost(postId) {
        // Submit the form with corresponding post id
        document.getElementById('shareForm' + postId).submit();
    }

</script>




{% endblock body %}
