<p class="mb-0">
    <a href="{{ post.body }}" target="_blank">{{ post.title }}</a>
</p>

<p class="small red my-0 pt-1">
    <a href="{{ post.body }}" target="_blank">{{ post.body }}</a>
</p>

<p class="small grey mt-0">
    {% if post.is_imported_rss_feed_post %}
        RSS Feed ({{ post.imported_rss_feed.link|slice:"8:" }})
    {% elif not post.is_rss_feed_post or post.is_rss_feed_post %} <!-- the latter means it is a mirrored rss post -->
        <a href="{% url 'profile' post.user.username %}" target="_blank">
            {{ post.user.profile.display_name }}
        </a>
    {% endif %}  • 
    
    {{ post.timestamp|date:"b j, Y"|capfirst }} • 

    <a href="{% url 'post' post.id %}">
        comment {% if post.total_comments %}({{post.total_comments}}){% endif %} 
    </a> • 

    <a href="#" id="like-{{ post.id }}" onclick="likePost('{{ post.id }}')">
        like {% if post.total_likes %}({{post.total_likes}}){% endif %}
    </a>
</p>