<p class="mb-0">
    <a href="{{ post.body }}" target="_blank">{{ post.title }}</a>
</p>

<p class="small red my-0 pt-1">
    <a href="{{ post.body }}" target="_blank">{{ post.body }}</a>
</p>

<p class="small grey mt-0">
    <a href="{% url 'profile' post.user.username %}" target="_blank">
        {{ post.user.profile.display_name }}
    </a> • 
    
    {{ post.timestamp|date:"b j, Y"|capfirst }} • 

    <a href="{% url 'post' post.id %}">
        comment {% if post.total_comments %}({{post.total_comments}}){% endif %} 
    </a> • 

    <a href="#" id="like-{{ post.id }}" onclick="likePost('{{ post.id }}')">
        like {% if post.total_likes %}({{post.total_likes}}){% endif %}
    </a>
</p>