{% extends "Linkfeed/layouts.html" %}

{% block name %}
    {{ profile.display_name }}
{% endblock %}

{% block body %}
    <h2>
        Post
    </h2>

    {% if post %}
        <div class="mt-4">{% include 'Linkfeed/posts.html' %}</div>
    {% endif %}

    <form method="post" action="{% url 'add_comment' post.id %}">
        {% csrf_token %}
            <textarea name="body" rows="4" placeholder="Add a comment..."required></textarea>
            <button type="submit">
                Comment
            </button>
    </form>

    {% include 'Linkfeed/comments.html' with comments=comments %}

    <script>
        function unhideForm(comment_id) {
            document.getElementById(comment_id).hidden = false;
        }
    </script>

{% endblock %}