{% extends "Linkfeed/layouts.html" %}

{% block name %}
    {{ profile.display_name }}
{% endblock %}

{% block body %}
    <div class="red d-flex justify-content-center align-items-center my-5 py-5">
        <a target="_blank" href="{{profile.link}}">{{profile.stripped_link}}</a>
    </div>

    <div class="d-flex justify-content-between">
        <div class="mb-1 d-flex">
            {% include 'Linkfeed/powered_by.html' %}
        </div>
        <div class="small grey mb-1 d-flex">
            <a href="{% url 'following' profile.user.username %}">Following {{profile.following_count|safe}}</a>&nbsp;•&nbsp;
            <a href="{% url 'followers' profile.user.username %}">Followers {{profile.followers_count|safe}}</a>
        </div>
    </div>

    {% if profile.user.username == user.username %}
        <form method="post" action="{% url 'create_post' %}" class="d-flex justify-content-between">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title" required>
            <input type="url" name="body" placeholder="URL" required>
            <button type="submit">Post</button>
        </form>
    {% else %}
        <div class="d-flex justify-content-end">
            <button>
                {% if user not in profile.follower.all %}
                    <a href="{% url 'follow_or_unfollow' profile.user.username %}">Follow</a>
                {% elif user in profile.follower.all %}
                    <a href="{% url 'follow_or_unfollow' profile.user.username %}" id="following-text">Unfollow</a>
                {% endif %}
            </button>
        </div>
    {% endif %}

    {% for post in posts %}
        {% include 'Linkfeed/posts.html' %}
    {% endfor %}
{% endblock %}