@font-face { 
	font-family: Sabado;
	src: url("./Sabado\ Regular.ttf");
	font-style: normal;
}
@font-face {
	font-family: Nexa;
	 src: url("./Nexa\ Bold.otf");
}
@font-face {
	font-family: Space;
	src: url("./SpaceGrotesk.ttf");
	font-weight: normal;
}
@font-face {
	font-family: Rich-Georgia;
	src: url("https://bloge.li/fonts/Rich-Georgia.ttf");
}
@font-face {
	font-family: mono;
	src: url("https://bloge.li/fonts/TechnoScriptEF.ttf");
}

html {
	scroll-behavior: smooth;
}
body{
	max-width:40em;
	margin:0 auto;
	font-family: Rich-Georgia, 'Times New Roman', Times, serif, sans-serif;
	font-size:20px;
	line-height:30px;
	padding: 5px;
    padding-right: 1em;
    padding-left: 1em;
	background-color:#fff;
	color:#000;
	font-weight: 300;
	overflow-y:scroll;
	overflow-x: hidden;
}
.container-fluid {
	padding: 0;
}
p {
	font-size: 18px;
	margin-block-start: 1em;
    margin-block-end: 1em;
}
.vignette {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	box-shadow: 0 0 200px rgba(0,0,0,0.3) inset;
	z-index: -1;
}
h1,h2,h3,h4,dt,dl#tweetlist dt,footer,label,#commentlist ol li cite,div.blogparent,input[type="submit"]{
	font-family: Nexa;
	font-weight:normal;
	font-style:normal;
	text-align:left;
}
small,footer,dl#tweetlist dt{
	font-size: .75em;
	font-family: mono;
	color:#666;
}
.mono {
	font-family: mono;
}
.georgia {
	font-family: Rich-Georgia;
}
.grey {
	color:#666;
}
.white {
	color: white;
}
.black {
	color: black;
}
.nexa {
	font-family: Nexa;
}
.small {
	font-size: .75em;
}
.big {
	font-size: 1.25em;
}
ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0em;
  }
  
  /* li {
	padding-left: .7em;
	text-indent: -.7em;
  } */

a {
	color: #EA322E;
	max-width: 100vw;
}

/* .row {
	text-overflow: ellipsis;
	overflow: hidden;
} */

a:visited {
	color: #EA322E;
}

a:hover {
	color: #941100;
}

button:active {
	background-color: #941100;
	border-color: #941100;
}

button:hover {
	background-color: #941100;
	border-color: #941100;
}

pre {
	font-size: 70%;
	background-color: #1e1e1e;
	color: white;
	padding: 5px;
	border-radius: .25rem;
}

#main-header {
	width: fit-content;
}

#profile-link {
	margin-left: 2px;
	color: black;
	text-decoration: underline;
	/* color: #EA322E; */
}

.red-button {
	background-color: #EA322E;
	color: white;
	font-size: 20px;
	font-family: Nexa;
}

.red-button:hover {
	color: white;
}

.red-button:focus {
	outline: 0px solid transparent;
	box-shadow: none;
	background-color: #941100;
}

.red-button a {
	color: white;
}

.red-button a:hover {
	text-decoration: none;
	color:white;
}

.red-button:hover {
	color:white;
}

.button-circle {
	border-radius: 50px;
	padding: .85rem;
	border: none;
	margin: .35rem;
	background-color: #666;
	/* height:fit-content; */
	/* height: 49.18px; */
}

.normal-font-button {
	font-size: medium;
}

.header {
	font-family: Sabado, sans-serif;
    font-size: 2.5em;
	padding-bottom: 15px;
	padding-top: 5px;
	margin-bottom: 0px;
	margin-top: 10px;
	/* line-height: 80%; */
	border-radius: .25rem;
}

#nav-header {
	/* border-left: 1px solid black;
	border-right: 1px solid black; */
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50%;
	background-color: #EA322E;
}
#nav-header:hover {
	background-color: #941100;
}

#username-header a {
	color:#000;
	text-decoration-thickness: 2px;
}
#username-header {
	line-height: .9em;
	padding: 0;
}

#username-header a:hover {
	text-decoration-color: #EA322E;
}

#open-btn {
	color: white;
	padding-left: 0;
	padding-right: 0;
}

/* #row-follow {
	font-size: 80%;
} */

a.row-follow-button.follow-button {
	border: 1px solid #EA322E;
	background-color: #EA322E;
	text-align: center;
}

a.row-follow-button {
	border: 1px solid #6c757d;
	background-color: #6c757d;
	border-radius: .25rem;
	padding: 5px 10px 5px 10px;
	color: white;
	line-height: normal;
	height: calc(1.5em + .3rem + 2px);
}

a.follow-button:hover {
	background-color: #941100;
	border-color: #941100;
}

a.row-follow-button:hover {
	text-decoration: none;
}

.truncate-text {
	max-width: 100%;
	display: inline-block; /* Create a new formatting context */
	white-space: nowrap; /* Prevent the text from wrapping */
	overflow: hidden; /* Hide the overflow */
	text-overflow: ellipsis; /* Show an ellipsis (...) for the overflowing text */
}

.create-post {
	border: 1px solid black;
	border-radius: 25px;
}

#create-post-form {
	width: 100%;
}

#title-input {
	color: black;
	font-size: 1.5rem;
	height: calc(1.5em + .3rem + 2px);
	line-height: 100%;
	border-radius: 0.25em 0.25em 0 0;
	border-bottom: none;
	padding: 0 5px 0 5px;
}

#title-input::placeholder {
	color: #666;
}

#body-input {
	font-size: 18px;
	height: calc(1.5em + .3rem + 2px);
	line-height: 100%;
	color: #000;
	border-radius: 0 0 0 0.25em;
	border-right: none;
	border-top: none;
	padding: 0 5px 0 5px;
}
#body-input::placeholder {
	color: #666;
}
input[type="text"]:focus {
    outline: 0px solid transparent;
	box-shadow: none;
	border: 1px solid #ced4da;
	border-top: 2px solid #EA322E;
}
input[type="url"]:focus {
    outline: 0px solid transparent;
	box-shadow: none;
	border: 1px solid #ced4da;
	border-bottom: 2px solid #EA322E;
}
#create-post-button {
	font-size: 18px;
	font-family: Nexa;
	width: 100%;
	height: calc(1.5em + .3rem + 2px);
	line-height: 100%;
	border-radius: 0 0 .25em 0;
}
#create-post-button:hover {
	color: white;
}

#posts {
    width: 100%;
	background-color: none;
}

/* .post {
	border-bottom: 1.65px solid #adadad;
} */

.post-body, .post-title, .profile-link {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.wrapped-post-link {
    position: relative; /* Ensure z-index works */
    z-index: 1;
    color: black;
}

.wrapped-post-link:visited {
	color: black;
}

/* .wrapped-post-link:hover {
    text-decoration: none;
	color: black;
}

.wrapped-profile-link:hover {
	text-decoration: none;
}

.wrapped-post:hover {
	background-color: #f8f9fa;
}

.wrapped-profile:hover {
	text-decoration: none;
	background-color: #f8f9fa;
} */

/* .post {
    border-bottom: 1px solid #a1a1a1;
} */

.post-title {
    font-family: Nexa, sans-serif;
	border: none;
}

.post-user {
	padding: 0;
	margin: 0;
}

.post-body {
    z-index: 5;
	color:#EA322E;
}

.post-stats {
	color: #6c757d;
	/* font-size: 80%; */
	padding: 0 2.5px 0 2.5px;
}

.svg {
	width: 22px;
}

#post-comment:hover {
	text-decoration: none;
	color: #6c757d;
}

.like-svg:hover, .comment-svg:hover, .share-svg:hover, .delete-btn:hover, .delete-btn2:hover {
	cursor: pointer;
	transform: scale(1.1);
}

@media (max-width: 456px) {
	.vignette {
		box-shadow: 0 0 200px rgba(0,0,0,0.15) inset;
	}
	body{
		font-size: 16px;
		text-align: left;
	}
	h1,h2,h3,h4 {
		font-size: 21px;
	}
	p {
		font-size: 16px;
	}
	body p{
		line-height: 26px;
	}
	#nav-header {
		padding-left: 15px;
		padding-right: 15px;
		line-height: 50%;
		padding-bottom: 11px;
		background-color: #EA322E;
	}
	.header {
		font-size:2.5em;
	}
	#row-follow {
		font-size: 80%;
	}
	a.follow-button {
		padding: 5px 6.5px 5px 6.5px;
	}
	.svg {
		width: 20px;
	}
	.post-stats {
		font-size: 80%;
	}
	#profile-link {
		font-size: 1rem;
	}
}


/* <!-- <a href="{% url 'post' post.id %}" class="btn btn-primary">View Post</a>
{% if post.user == user %}
<button data-post-id="{{ post.id }}" class="delete-btn btn btn-danger">Delete</button>
{% endif %} --> */