body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width:40em;
    margin: 0 auto;
    padding-right: .5em;
    padding-left: .5em;
    overflow-x: hidden;
    overflow-y: scroll; /* Turns the scrollbar always on */
}

a {
    text-decoration: none;
    color: inherit;
    overflow-wrap: break-word;
}

.small {
    font-size: smaller;
}

.grey {
    color: #666;
}

.red {
    color: #EA322E;
}

.text-end {
    text-align: right !important;
}

input, textarea {
    width: 100%;
}

.preserve {
    white-space: pre-wrap;
}